{% extends 'web/base.html' %}

{% block page_title %}{{ form_title }}{% endblock page_title %}

{% block content %}
<h3>{{ form_title }}</h3>

    <form action="{{ request.path }}" method="post">
    {% csrf_token %}
        <div class="form-group">

            {{ form.title.label_tag }}<br>
            {{ form.title }}<br>


            {{ form.description.label_tag }}<br>
            {{ form.description }}<br>

            {{ form.date.label_tag }}<br>
            {{ form.date }}<br>

            {{ form.time.label_tag }}<br>
            {{ form.time }}<br>

            {{ form.status.label_tag }}<br>
            {{ form.status }}<br>

            {{ form.is_active }}

            <a class="btn btn-secondary" href="{% url 'todo_list' %}">Cancel</a>
            <button class="btn btn-primary" type="submit">Confirm</button>

        </div>

    </form>

{% endblock %}
